---
layout: default
---

<div>

  <section>
    <h1>t4ipan</h1>

    <p>
      me aburro y hago cosas ilegales, ahora las comparto
    </p>
  </section>

  <section>
    <h2>winrar crackeado</h2>

    <p>
      pensaba que el hecho de crackear un programa iba a ser más difícil, pero no lo ha sido. supongo que a la empresa se la suda que la gente lo piratee, porque no era nada complicado el saltarse la comprobación de la key. he hecho algunos cambios en la pestaña de About firmandolo y tal, pa que se note que soy un buen scripkiddie.
      dejo el link de la descarga <a href="https://mega.nz/folder/dtc1FaKI#NDtEwtbo4k5FLOuNjE-vCQ">aquí</a>, y al análisis de VirusTotal <a href="https://www.virustotal.com/gui/file/778282df0e853fd728b78ccc33e42c33437e84285cc42a9cf8cfc7de60b4f1b7/detection">aquí</a>.
      si falla el enlace, por favor, mándame un email.
    </p>
  </section>
  
  <section>
  <h2>Posts</h2>

  {% for post in site.posts %}
    {% assign nth = forloop.index0 | modulo:2 %}
    <div class="media t-hackcss-media">

      {% if nth == 0 %}
      <div class="t-hackcss-media-shift media-left">
        <img class="t-hackcss-media-image"
             src="{{ post.image_preview }}" alt="{{ post.title }}"
             title="{{ post.title }}" />
      </div>
      {% endif %}

      <div class="media-body">
        <div class="media-heading">
          <span>{{ post.date | date_to_string }} &raquo;
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% endif %}
          </span>
        </div>
        <div class="media-content">
          {{ post.short_description }}
        </div>
      </div>

      {% if nth == 1 %}
      <div class="t-hackcss-media-shift media-right">
        <img class="t-hackcss-media-image"
             src="{{ post.image_preview }}" alt="{{ post.title }}"
             title="{{ post.title }}" />
      </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
  
</div>
